*cpython-310*
*__pycache__
*egg-info
/data/

/output/
/backup/
/checkpoints/
/rollouts/
/cache/
/logs/
# hydra working directory created by verl runs
/outputs/
/wandb/
/tensorboard_log/
/env/
/slurm_logs/
hf_cache/

*.env
.miniconda3/
.conda/
# visualization/
/models/
/vsibench/
sam_hq_vit_h.pth
/sparbench_cache/
/experiments/viewers/
.pytest_cache/
.cursor/*.log
